In [ ]:
%pip install -q -r requirements.txt

<div class="alert alert-info">
<b>Комментарий студента:</b> Спасибо за ревью! Я рада, что вам понравилось, как я выполнила проект. Есть у меня пара вопросов: 
    1. В чате у нас было очень много споров, как обрабатывать аномальные значения в колонке dob_years, получается, что некоторые пенсионеры работают с 7 лет. Какое решение будет правильным в отношении таких данных? При условии, что разработчики не могут дать ответ о корректности данных. 
    2. Сводные таблицы дают визуальное представление о зависимости переменных (смотрим, что в одной категории 9% должников, в другой 10%, и решаем что зависимость имеется). Но на практике ведь так просто гипотезы подтвердить не получится? Необходимы более глубокие методы проверки зависимости, если да, то какие?  
    
Можно вместе с ответами на вопросы принять работу :) Спасибо!
<br>
</div>

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера v2:</b>
<br>1. Однозначный ответ который подойдёт для любой ситуации тут дать нельзя. Я могу дать лишь несколько советов:
<br>-Нужно смотреть на количество этих данных. Если их меньше 1%, то их можно удалить, если нет возможности как-то адекватно их обработать
<br>-Если уточнить этот момент у того, кто предоставил эти данные возможности нет, а таких значений достаточно много, то можно всех подозрительных клиентов выделить в отдельную группу и сделать расчет с учетом их и без.    
<br>-Также вполне может быть, что некоторые из этих клиентов военнослужащие, которые рано вышли на пенсию, или же инвалиды, которые получают пенсию по инвалидности. 

<br>2. На зависимость между двумя переменными можно посмотреть с помощью корреляции. Если переменных много, то здесь уже поможет матрица корреляция. Это будет нужно в проекте №3. Для проверки гипотез используются статистические методы, которые вы будете применять в проекте №4. 
       
<br>Надеюсь, я смог ответить на твои вопросы) Желаю удачи в дальнейшем обучении!  
</div>

# Исследование надёжности заёмщиков

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Входные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели **кредитного скоринга** — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

### Цель исследования 
Цель исселдования заключается в проверке гипотез:
1. Существует зависимость между наличием детей и возвратом кредита в срок;
2. Существует зависимость между семейным положением и возвратом кредита в срок;
3. Существует зависимость между уровнем дохода и возвратом кредита в срок;
4. Разные цели кредита влияют на его возврат в срок.

### Ход исследования 
Исследование пройдет в три этапа:
1. Обзор данных;
2. Предобработка данных;
3. Проверка гипотез.

## Шаг 1. Откройте файл с данными и изучите общую информацию

In [2]:
import pandas as pd
#data = pd.read_csv('data.csv')
#я закомментирую твой код, чтобы я смог загрузить датасет
data = pd.read_csv('/datasets/data.csv')
display(data.head(10))
data.info()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       19351 non-null float64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        19351 non-null float64
purpose             21525 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

Итак, в таблице 12 столбцов с данными:

- children — количество детей в семье
- days_employed — общий трудовой стаж в днях
- dob_years — возраст клиента в годах
- education — уровень образования клиента
- education_id — идентификатор уровня образования
- family_status — семейное положение
- family_status_id — идентификатор семейного положения
- gender — пол клиента
- income_type — тип занятости
- debt — имел ли задолженность по возврату кредитов
- total_income — ежемесячный доход
- purpose — цель получения кредита

Количество значений в столбцах различается, значит есть пропущенные значения.

### Вывод
Каждая строка таблицы с данными содержит данные о человеке, который желает получить кредит в банке. Некоторые столбцы указывают на семейное положение клиента, некоторые на его уровень образования и дохода, а так же на данные о предыдущем опыте получения кредита и цели получения кредита. Предварительно можно утверждать, что данных в таблице достаточно для проверки гипотез, однако были замечены пропущенные значения в некоторых колонках, а так же ошибки написания в данных внутри столбцов (ошибочно проставленные знаки минуса, написание строковых данных нестрочными буквами). Для проверки гипотез, необходимо устранить ошибки в данных.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> 
<br>Всё верно! С выводами согласен:
</div>

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера:</b> 
<br>Что можно обнаружить ещё:    
<br>- столбец children - выбросы (20 детей)
<br>- столбец days_employed - выбросы, неправильный тип данных
<br>- столбец gender - содержит артефакт
<br>- столбец total_income - неправильный тип данных
<br>- столбец purpose - много аналогичных формулировок, которые можно категоризировать
<br>Подумай также о возможных причинах появления пропусков, а также о том, являются ли они случайными или нет.
<br>Во время первичного анализа данных, часто может помочь метод describe(). Он покажет тебе min/mean/max значения в каждом столбце и многое другое)
</div>

## Шаг 2. Предобработка данных

### Обработка пропусков

In [3]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

Пропуски замечены в двух столбцах - days_employed и total_income. Пропуски значений в этих столбцах могут помешать исследованию. На практике было бы правильно установить причину пропусков у разработчиков, но такой возможности нет, поэтому я предлагаю вместо пропущенных значений в total_income и days_employed вставить медианное значение по столбцу в пределах группы, сформированной по income_type. Но сперва я хочу проверить, не попали ли в total_income по ошибке отрицательные значения. В days_employed попали, их я далее заменю на положительные значения.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> 
<br>Согласен с твоей аргументацией!
</div>

In [4]:
data.sort_values('total_income').head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
14585,0,359219.059341,57,среднее,1,женат / замужем,0,F,пенсионер,1,20667.263793,недвижимость
13006,0,369708.589113,37,среднее,1,гражданский брак,1,M,пенсионер,0,21205.280566,заняться высшим образованием
16174,1,-3642.820023,52,Среднее,1,женат / замужем,0,M,сотрудник,0,21367.648356,приобретение автомобиля
1598,0,359726.104207,68,среднее,1,гражданский брак,1,M,пенсионер,0,21695.101789,на проведение свадьбы
14276,0,346602.453782,61,среднее,1,женат / замужем,0,F,пенсионер,0,21895.614355,недвижимость

Отрицательных значений нет, значит данные заполнены верно. Теперь я заменю отрицательные значения в days_employed на положительные значения функцией abs().

In [5]:
data['days_employed'] = data['days_employed'].abs()
data['days_employed'].head()

0      8437.673028
1      4024.803754
2      5623.422610
3      4124.747207
4    340266.072047
Name: days_employed, dtype: float64

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> 
<br>Отличная работа! Хоть этот столбец нам и не нужен для ответа на итоговые вопросы, но круто, что ты всё равно решила с ним поработать.
</div>

Заменяю пропуски в total_income на медианное значение ежемесячного дохода внутри группы, сформированной в зависимости от income_type. Так же, заменяю пропуски в days_employed на медианное значение ежемесячного дохода внутри группы, сформированной в зависимости от income_type. Снова проверяю количество пропущенных значений в датафрейме.

In [6]:

data['total_income'] = data['total_income'].fillna(data.groupby('income_type')['total_income'].transform('median'))

data['days_employed'] = data['days_employed'].fillna(data.groupby('income_type')['days_employed'].transform('median'))
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Вывод
Все пропуски обработаны, вместо пропущенных значений total_income вставлены медианные ежемесячные походы по типу группы.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> 
<br>То что нужно! Это самый правильный способ для замены пропусков в данном случае. 
</div>

### Замена типа данных

В таблице с данными значения трех столбцов (days_employed, total_income и dob_years) относятся к вещественным значениям. Я заменю days_employed и dob_years на целочисленные значения методом astype(), так как они предполагают целочисленные значения. Столбец total_income я оставлю неизменным, так как лучше иметь в нем более точные данные для дальнейших нахождения дубликатов и проверки гипотез.

In [7]:
data['days_employed'] = data['days_employed'].astype('int')
data['dob_years'] = data['dob_years'].astype('int')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
children            21525 non-null int64
days_employed       21525 non-null int64
dob_years           21525 non-null int64
education           21525 non-null object
education_id        21525 non-null int64
family_status       21525 non-null object
family_status_id    21525 non-null int64
gender              21525 non-null object
income_type         21525 non-null object
debt                21525 non-null int64
total_income        21525 non-null float64
purpose             21525 non-null object
dtypes: float64(1), int64(6), object(5)
memory usage: 2.0+ MB

<div class="alert alert-warning">
<b>⚠️ Комментарий ревьюера:</b> 
<br>Всё таки копейки нам погоды не сделают. Здесь можно даже разделить столбец total_income на 1000, чтобы сумма дохода была указана в тысячах.
</div>

### Обработка дубликатов

Для того, чтобы корректно избавиться от дубликатов, необходимо проверить данные внутри каждого столбца, насколько адекватные значения внутри, нет ли отрицательных значений там, где их не может быть, а так же привести строковые переменные к единому типу написания (строчными буквами). 
Сперва, я проверяю колонку с количеством детей у клиента методом value_counts.

In [8]:
data['children'].value_counts()

 0     14149
 1      4818
 2      2055
 3       330
 20       76
-1        47
 4        41
 5         9
Name: children, dtype: int64

Количество детей не может быть отрицательным, поэтому необходимо заменить отрицательные значения на положительные. Двадцать детей у 76 клиентов - значение маловероятное, скорее всего это ошибка занесения в систему значений (человеческий фактор), поэтому я заменю количество детей с 20 на 2. Для замены этих двух ошибок буду использовать функцию.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> 
<br>Отлично! Отрицательные значения, скорее всего появились из-за простой опечатки. Заменить их положительным число - хорошее решение. Нам не важно в данном случае сколько детей у клиетов, важно их наличие, поэтому можно смело менять 20 на 2 как ты и сделала! 👏🏻👏🏻👏🏻
</div>

In [9]:
def children_correct(row):
    children = row['children']
    if children == 20:
        return 2
    if children <0:
        return abs(children)
    return children

data['children'] = data.apply(children_correct, axis=1)
data['children'].value_counts()

0    14149
1     4865
2     2131
3      330
4       41
5        9
Name: children, dtype: int64

Далее, я хочу проверить столбец dob_years (возраст клиента в годах), поэтому методом value_counts() я подсчитываю количество каждого значения в столбце, а методом sort_index сортирую в удобном мне порядке.

In [10]:
data['dob_years'].value_counts().sort_index()

0     101
19     14
20     51
21    111
22    183
23    254
24    264
25    357
26    408
27    493
28    503
29    545
30    540
31    560
32    510
33    581
34    603
35    617
36    555
37    537
38    598
39    573
40    609
41    607
42    597
43    513
44    547
45    497
46    475
47    480
48    538
49    508
50    514
51    448
52    484
53    459
54    479
55    443
56    487
57    460
58    461
59    444
60    377
61    355
62    352
63    269
64    265
65    194
66    183
67    167
68     99
69     85
70     65
71     58
72     33
73      8
74      6
75      1
Name: dob_years, dtype: int64

Замечено больше сотни клиентов с возрастом 0, что свидетельствует об ошибке в занесении данных. Я решила заменить нулевые значения на медианный возраст внутри каждой группы, сформированной в зависимости от income_type. И выведу несколько строк датафрейма, отсортированного по возрасту клиента по возрастанию, чтобы посмотреть минимальный возраст клиента.

In [11]:
data['dob_years'] = data['dob_years'].replace(0,(data.groupby('income_type')['total_income'].transform('median')))
data.sort_values('dob_years').head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
766,0,796,19.0,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,80812.147802,покупка жилья для сдачи
8316,0,556,19.0,среднее,1,Не женат / не замужем,4,F,сотрудник,0,68524.106035,высшее образование
4098,0,111,19.0,среднее,1,гражданский брак,1,M,компаньон,0,91876.754772,на проведение свадьбы
9218,0,322,19.0,среднее,1,гражданский брак,1,F,компаньон,0,103676.482282,сыграть свадьбу
10235,0,793,19.0,среднее,1,женат / замужем,0,F,сотрудник,0,131308.777259,ремонт жилью

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> 
<br>Отлично! 👍
</div>

Далее, я посмотрю ошибки в написании строковых переменных в столбце education. Если есть ошибки в разнице регистра, то я приведу слова к единому виду (написание строчными буквами) методом lower(). Далее тот же путь я проделаю для столбца family_status.

In [12]:
data['education'].value_counts()

среднее                13750
высшее                  4718
СРЕДНЕЕ                  772
Среднее                  711
неоконченное высшее      668
ВЫСШЕЕ                   274
Высшее                   268
начальное                250
Неоконченное высшее       47
НЕОКОНЧЕННОЕ ВЫСШЕЕ       29
НАЧАЛЬНОЕ                 17
Начальное                 15
ученая степень             4
УЧЕНАЯ СТЕПЕНЬ             1
Ученая степень             1
Name: education, dtype: int64

In [13]:
data['education'] = data['education'].str.lower()
data['education'].value_counts()

среднее                15233
высшее                  5260
неоконченное высшее      744
начальное                282
ученая степень             6
Name: education, dtype: int64

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> 
<br>Избавились от большей части дубликатов)
</div>

In [14]:
data['family_status'].value_counts()

женат / замужем          12380
гражданский брак          4177
Не женат / не замужем     2813
в разводе                 1195
вдовец / вдова             960
Name: family_status, dtype: int64

После приведения данных к нормальному виду, необходимо идентифицировать наличие дубликатов в датафрейме, для этого будет использован метод duplicated().sum(). Если имеются дубликаты, они будут удалены методом drop_duplicates().Для смецения индексов воспользуюсь методом reset_index(drop = True). 
Вероятность того, что есть клиенты с полностью одинаковыми значениями по всем столбцам есть, но она очень мала, тем более что вещественный тип данных дает сомнения в отсутсвии дублирования. Конечно, было бы лучше, если бы каждому клиенту был присвоен уникальный номер id, тогда бы я могла со стопроцентной вероятностью удалять дубликаты. После удаления воспользуюсь внов методом подсчета дубликатов, чтобы убедиться, что они отсутсвуют в датафрейме.

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates().reset_index(drop = True)
data.duplicated().sum()

0

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> 
<br>Шикарно! Убрали оставшиеся дубликаты
</div>

### Лемматизация

Лемматизация необходима для группировки по цели взятия кредита. Клиенты могли описывать одну и ту же причину, используя различные падежи, окончания слов итд. Для того, чтобы корректно проверить четвертую гипотезу, необходимо привести причины к единому виду, чтобы их было легче группировать. Одна из библиотек с функцией лемматизации на русском языке — pymystem3, импортирую ее для дальнейшей работы. Так же вызываю специальный контейнер Counter из модуля collections для дальнейшего подсчета лемматизированных слов.

In [17]:
from pymystem3 import Mystem
my = Mystem()
from collections import Counter

Я создаю функцию, которая используя метод lemmatize(), создает список лемматизированных слов на основе каждого значения колонки purpose. Далее, я создаю еще одну колонку в датафреме методом apply(), в которой и располагаются списки для каждого клиента.

In [18]:
def lemmatize_purpose(row):
    purpose = row['purpose']
    lemma = my.lemmatize(purpose)
    return lemma
data['lemmatize_purpose'] = data.apply(lemmatize_purpose, axis=1)
data['lemmatize_purpose'].head()

0                 [покупка,  , жилье, \n]
1       [приобретение,  , автомобиль, \n]
2                 [покупка,  , жилье, \n]
3    [дополнительный,  , образование, \n]
4               [сыграть,  , свадьба, \n]
Name: lemmatize_purpose, dtype: object

### Категоризация данных

Для того, чтобы определить уровень дохода, необходимо произвести категоризацию числовых данных дохода в столбце total_income. Я предлагаю разделить уровень дохода на три категории (низкий, средний, высокий). Для того, чтобы определить пороги, я определю медианное значение столбца total_income. Все, что ниже медианного значения более, чем на 50% будет относиться к низкому доходу, все, что выше на 50% медианного значения - к высокому, все что между низким и высоким - к среднему. Условие проверяю внутри функции.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> 
<br>Ты правильно и логично выделила категории, но в реальной задаче лучше уточнить у заказчика или коллег как лучше это будет сделать
</div>

In [19]:
median_income = data['total_income'].median()
def income_level(row):
    total_income = row['total_income']
    if total_income < median_income - 0.5*median_income:
        return 'низкий'
    if total_income > median_income + 0.5*median_income:
        return 'высокий'
    return 'средний'
data['income_level'] = data.apply(income_level, axis = 1)
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,lemmatize_purpose,income_level
0,1,8437,42.0,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья,"[покупка, , жилье, \n]",высокий
1,1,4024,36.0,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля,"[приобретение, , автомобиль, \n]",средний
2,0,5623,33.0,среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья,"[покупка, , жилье, \n]",средний
3,3,4124,32.0,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование,"[дополнительный, , образование, \n]",высокий
4,0,340266,53.0,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу,"[сыграть, , свадьба, \n]",средний

Для того, чтобы узнать самые часто встречающиеся слова в поле цели кредита, я сделаю единый список со всеми лемматизированными целями, и далее посчитаю повторяющиеся слова методом Counter() и выведу самые частые слова методом most_common().

In [20]:
counter_lemmas = []
for i in range(len(data['lemmatize_purpose'])):
    counter_lemmas.extend (data['lemmatize_purpose'][i])

Counter(counter_lemmas).most_common(15)

[(' ', 33570),
 ('\n', 21454),
 ('недвижимость', 6351),
 ('покупка', 5897),
 ('жилье', 4460),
 ('автомобиль', 4306),
 ('образование', 4013),
 ('с', 2918),
 ('операция', 2604),
 ('свадьба', 2324),
 ('свой', 2230),
 ('на', 2222),
 ('строительство', 1878),
 ('высокий', 1374),
 ('получение', 1314)]

Для того, чтобы упростить наименование цели и привести к единому виду, я вставлю новый столбец в датафрейме с лаконичным названием цели кредита, используя функцию. "Недвижимость" и "жилье" буду считать за один вид цели.

In [21]:
def short_purpose (row):
    lemma = row['lemmatize_purpose']
    if 'недвижимость' in lemma or 'жилье' in lemma:
        return 'недвижимость'
    if 'автомобиль' in lemma:
        return 'автомобиль'
    if 'образование' in lemma:
        return 'образование'
    if 'операция' in lemma:
        return 'операция'
    if 'свадьба' in lemma:
        return 'свадьба'
    return 'другое'

data['short_purpose'] = data.apply(short_purpose, axis = 1)
data['short_purpose'].value_counts()

недвижимость    10811
автомобиль       4306
образование      4013
свадьба          2324
Name: short_purpose, dtype: int64

Итого, цели получения кредита получилось разделить на 4 категории - недвижимость, автомобиль, образование и свадьба. О том, что других категорий в датафрейме нет свиедтельствует то, что функция не дошла до return 'другое'.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> 
<br>Цели кредита категоризированы правильно! 👍
</div>

Для проверки гипотезы, влиет ли наличие детей на возврат кредита в срок, я пропишу функцию и создам новый столбец 'children_status', где 1 будет означать, что дети есть, а 0 - детей у клиента нет. Так можно будет проверить гипотезу, не обращая внимание на конкретное количество детей у клиента.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> 
<br>Ты абсолютно правильно сделала, что не стала выделять количество детей в отдельные категории. В  этом задании важно именно наличие или отсутствие
</div>

In [22]:
def children_status (row):
    children = row['children']
    if children >0:
        return 'есть дети'
    return 'нет детей'

data['children_status'] = data.apply(children_status, axis = 1)
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose,lemmatize_purpose,income_level,short_purpose,children_status
0,1,8437,42.0,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья,"[покупка, , жилье, \n]",высокий,недвижимость,есть дети
1,1,4024,36.0,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля,"[приобретение, , автомобиль, \n]",средний,автомобиль,есть дети
2,0,5623,33.0,среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья,"[покупка, , жилье, \n]",средний,недвижимость,нет детей
3,3,4124,32.0,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование,"[дополнительный, , образование, \n]",высокий,образование,есть дети
4,0,340266,53.0,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу,"[сыграть, , свадьба, \n]",средний,свадьба,нет детей

In [23]:
def debt_status (row):
    children = row['debt']
    if children == 1:
        return 'долг'
    return 'нет долга'

data['debt_status'] = data.apply(debt_status, axis = 1)

## Шаг 3. Ответьте на вопросы

- Есть ли зависимость между наличием детей и возвратом кредита в срок?

Я буду формировать сводную таблицу на основе таблицы, содержащей колонки ['children_status','children','debt_status','debt'].

In [24]:
data_children_debt = data[['children_status','children','debt_status','debt']]
data_children_debt.head()

  children_status  children debt_status  debt
0       есть дети         1   нет долга     0
1       есть дети         1   нет долга     0
2       нет детей         0   нет долга     0
3       есть дети         3   нет долга     0
4       нет детей         0   нет долга     0

Для проверки гипотезы о зависимости наличия детей и возвратом кредита в срок, я воспользуюсь сводной таблицей, чтобы наглядно иметь представление о количестве задолженностей по кредиту. Index в своде разделяется на две категории - "есть дети" и "нет детей", категория "есть дети" уже подразделяется на количество детей у клиента. Чтобы оценить количество задолженностей в процентном отношении, я разделю количество задолженностей на количество всего взятых кредитов. Чтобы оценить ситуацию по задолженности всего по двум категориям наличия детей, я сгруппирую данные свода по категориям и выведу медианное значение для каждой категории.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> 
<br>Сводная таблица - отличное решение 👍
</div>

In [25]:
data_pivot_children_debt = (data_children_debt.pivot_table(index = ['children_status','children'],columns = 'debt_status', values = 'debt', aggfunc = 'count', margins = True).fillna(0)).astype('int')
data_pivot_children_debt['ratio_%'] = round(data_pivot_children_debt['долг']/(data_pivot_children_debt['нет долга']+data_pivot_children_debt['долг'])*100,1)
display(data_pivot_children_debt)
data_pivot_children_debt.groupby('children_status')['ratio_%'].median()

debt_status               долг  нет долга    All  ratio_%
children_status children
есть дети       1          445       4410   4855      9.2
                2          202       1926   2128      9.5
                3           27        303    330      8.2
                4            4         37     41      9.8
                5            0          9      9      0.0
нет детей       0         1063      13028  14091      7.5
All                       1741      19713  21454      8.1

children_status
All          8.1
есть дети    9.2
нет детей    7.5
Name: ratio_%, dtype: float64

**Вывод**

Клиенты, у которых есть дети имеют процент задолженности по кредитам выше, чем те клиенты, у которых детей нет. Возможной причиной может являться наличие обязательств и расходов на семью. Влияние количества детей на задолженность выявить сложнее. Так, у клиентов с 5 детьми, процент должников от количества всего клиентов равен нулю, однако нельзя утверждать, что все клиенты, у которых 5 детей, возвращают кредит в срок, так как выборка маленькая (всего 9 клиентов).Зависимость между количеством детей и возвратом кредитов в срок не обнаружена.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> 
<br>В точку! Идём дальше)
</div>

- Есть ли зависимость между семейным положением и возвратом кредита в срок?

Проверять гипотезу я буду таким же образом, что и певую гипотезу. Я хочу углубиться в сводные данные и вывести разделение кадого family_status по гендеру.

In [26]:
data_pivot_family_debt = (data.pivot_table(index = ['family_status'],columns = 'debt_status', values = 'debt', aggfunc = 'count').fillna(0)).astype('int')
data_pivot_family_debt['ratio_%'] = round(data_pivot_family_debt['долг']/(data_pivot_family_debt['нет долга']+data_pivot_family_debt['долг'])*100,1)
data_pivot_family_debt.sort_values('ratio_%', ascending = False)

debt_status            долг  нет долга  ratio_%
family_status
Не женат / не замужем   274       2536      9.8
гражданский брак        388       3763      9.3
женат / замужем         931      11408      7.5
в разводе                85       1110      7.1
вдовец / вдова           63        896      6.6

In [27]:
data_pivot_family_debt = (data.pivot_table(index = ['family_status','gender'],columns = 'debt_status', values = 'debt', aggfunc = 'count').fillna(0)).astype('int')
data_pivot_family_debt['ratio_%'] = round(data_pivot_family_debt['долг']/(data_pivot_family_debt['нет долга']+data_pivot_family_debt['долг'])*100,1)
data_pivot_family_debt.sort_values('ratio_%', ascending = False)

debt_status                   долг  нет долга  ratio_%
family_status         gender
вдовец / вдова        M         11         44     20.0
Не женат / не замужем M        156        925     14.4
гражданский брак      M        155       1150     11.9
в разводе             M         24        235      9.3
женат / замужем       M        401       4178      8.8
гражданский брак      F        233       2612      8.2
Не женат / не замужем F        118       1611      6.8
женат / замужем       F        530       7230      6.8
в разводе             F         61        875      6.5
вдовец / вдова        F         52        852      5.8
гражданский брак      XNA        0          1      0.0

**Вывод**

Основываясь на результатах первой сводной таблицы, отсортированной по проценту задолженности, можно утверждать, что зависимость между семейным статусом и возвратом кредита в срок существует. Так, больший всего процент составляет задолженность у неженатых и незамужних. Однако, если углубиться в гендерное различие в каждом семейном статусе, можно смело утверждать, что мужчины имею более высокий риск невозврата кредита в срок, чем женщины, причем в любом семейном положении.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> 
<br>Согласен! 2/4 отвечены правильно) Первый раз вижу, чтобь производили деление на гендеры! 👏🏻👏🏻👏🏻
</div>

- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

В каждом уровне дохода я решила выделить тип заработка, чтобы углубиться в анализ. Проверяю гипотезу, используя сводную таблицу.

In [28]:
data_pivot_income_debt = (data.pivot_table(index = ['income_level'],columns = 'debt_status', values = 'debt', aggfunc = 'count').fillna(0)).astype('int')
data_pivot_income_debt['ratio_%'] = round(data_pivot_income_debt['долг']/(data_pivot_income_debt['нет долга']+data_pivot_income_debt['долг'])*100,1)
data_pivot_income_debt.sort_values(by = ['ratio_%'], ascending = False)

debt_status   долг  нет долга  ratio_%
income_level
средний       1328      14227      8.5
высокий        304       4016      7.0
низкий         109       1470      6.9

In [29]:
data_pivot_income_debt = (data.pivot_table(index = ['income_level','income_type'],columns = 'debt_status', values = 'debt', aggfunc = 'count').fillna(0)).astype('int')
data_pivot_income_debt['ratio_%'] = round(data_pivot_income_debt['долг']/(data_pivot_income_debt['нет долга']+data_pivot_income_debt['долг'])*100,1)
data_pivot_income_debt.sort_values(by = ['income_level','ratio_%'], ascending = False).reset_index()

debt_status income_level      income_type  долг  нет долга  ratio_%
0                средний        сотрудник   834       7487     10.0
1                средний        компаньон   269       3119      7.9
2                средний      госслужащий    66        979      6.3
3                средний        пенсионер   159       2640      5.7
4                средний      безработный     0          1      0.0
5                средний          студент     0          1      0.0
6                 низкий      безработный     1          0    100.0
7                 низкий        в декрете     1          0    100.0
8                 низкий        сотрудник    60        694      8.0
9                 низкий        компаньон    11        135      7.5
10                низкий      госслужащий     6         93      6.1
11                низкий        пенсионер    30        548      5.2
12               высокий        сотрудник   167       1842      8.3
13               высокий        компаньон    96       1448      6.2
14               высокий        пенсионер    27        425      6.0
15               высокий      госслужащий    14        299      4.5
16               высокий  предприниматель     0          2      0.0

**Вывод**

Можно отследить зависимость между уровнем дохода и возвратом кредита в срок. Так, более выскоий процент невозврата кредита в срок пренадлжит клиентам со средними доходами, а у клиентов с высоким и низким доходами процент задолженностей примерно одинаков. Если углубиться в разбивку по типу заработка, в каждой категории уровня дохода, сотрудники имеют более выскоий процент по невозврату кредита в срок (не беру безработных и клиентов в декрете в категории низкого уровня дохода, так как данная выборка крайне мала).

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b> 
<br>Самые недисциплинированые оказались заёмщики со средним уровнем дохода)
</div>

- Как разные цели кредита влияют на его возврат в срок?

In [30]:
data_pivot_purpose_debt = (data.pivot_table(index = ['short_purpose'],columns = 'debt_status', values = 'debt', aggfunc = 'count').fillna(0)).astype('int')
data_pivot_purpose_debt['ratio_%'] = round(data_pivot_purpose_debt['долг']/(data_pivot_purpose_debt['нет долга']+data_pivot_purpose_debt['долг'])*100,1)
data_pivot_purpose_debt.sort_values(by = ['ratio_%'], ascending = False)

debt_status    долг  нет долга  ratio_%
short_purpose
автомобиль      403       3903      9.4
образование     370       3643      9.2
свадьба         186       2138      8.0
недвижимость    782      10029      7.2

**Вывод**

Цель взятия кредита влияет на возврат кредита в срок. Так, клиенты, которые берут автокредит, имеют более высокий процент невозврата кредита в срок.

<div class="alert alert-success">
<b>✔️ Комментарий ревьюера:</b>
<br>Абсолютно верно! Возможно, это связано с тем, что к покупке жилья люди относятся более ответственно, так как сумма заемных средств и срок кредита, как правило гораздо выше чем в остальных категориях
</div>

## Шаг 4. Общий вывод

Я проверила четыре гипотезы и установила:
1. Наличие детей у клиента влияет на невозврат кредита в срок, клиенты, у которых есть дети имею более высокий процент невозврата кредита в срок. **Первая гипотеза подтвердилась**. Однако, если углубиться и установить зависимость между возрастанием количества детей в семье у клиента и невозвратом кредита в срок, данную зависимость я не установила.

2. В зависимости от семейного статуса, процент невозврата кредита в срок разный, поэтому можно установить связь между семейным статусом и задолженностью по кредиту. **Вторая гипотеза подтвердилась**. При детализации до гендерного различия в каждом семейном статусе, можно сделать вывод, что мужчины чаще имеют задолженности по кредиту в любом семейном статусе, чем женщины.

3. Уровень дохода клиента влияет на возврат кредита в срок. **Третья гипотеза подтвердилась**. Однако, если бы гипотеза звучала как "Процент клиентов имеющих задолженность по кредитам прямопропорциональна уровню дохода", то гипотеза бы не подтвердилась, так как клиенты со средним уровнем дохода чаще имеют задолженности, чем все клиенты с низким и высоким уровнем дохода.

4. Клиенты, которые берут кредит на автомобиль чаще невозвращают кредит в срок, а те, кто берут кредит на жилье реже всего имеют задолженность. **Четвертая гипотеза подтвердилась**.

На практике исследования содержат проверки статистических гипотез. Из данных одной выборки не всегда можно сделать вывод о всех жителях города. Проверки статистических гипотез покажут, насколько они достоверны, исходя из имеющихся данных.

<div class="alert alert-success">
<b>✔️ Итоговый комментарий ревьюера:</b>
<br>Ты проделала большую работу! У тебя шикарнейшие выводы с хорошей аргументацией. Здорово, что ты пишешь свои рассуждения и предположения - это помогает видеть ход твоей мысли. Отдельно хочу выделить аккуратность и структурированность твоей работы. Дополнительный плюс за использование свободных таблиц для ответа на итоговые вопросы. Я бы мог принять твою работу с первого раза, но хочу дать тебе возможность задать мне вопросы) Если вопросов нет, то я с радостью приму проект)
</div>

## Чек-лист готовности проекта

Поставьте 'x' в выполненных пунктах. Далее нажмите Shift+Enter.

- [x]  открыт файл;
- [x]  файл изучен;
- [x]  определены пропущенные значения;
- [x]  заполнены пропущенные значения;
- [x]  есть пояснение, какие пропущенные значения обнаружены;
- [x]  описаны возможные причины появления пропусков в данных;
- [x]  объяснено, по какому принципу заполнены пропуски;
- [x]  заменен вещественный тип данных на целочисленный;
- [x]  есть пояснение, какой метод используется для изменения типа данных и почему;
- [x]  удалены дубликаты;
- [x]  есть пояснение, какой метод используется для поиска и удаления дубликатов;
- [x]  описаны возможные причины появления дубликатов в данных;
- [x]  выделены леммы в значениях столбца с целями получения кредита;
- [x]  описан процесс лемматизации;
- [x]  данные категоризированы;
- [x]  есть объяснение принципа категоризации данных;
- [x]  есть ответ на вопрос: "Есть ли зависимость между наличием детей и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между семейным положением и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Есть ли зависимость между уровнем дохода и возвратом кредита в срок?";
- [x]  есть ответ на вопрос: "Как разные цели кредита влияют на его возврат в срок?";
- [x]  в каждом этапе есть выводы;
- [x]  есть общий вывод.

In [ ]:
#!c1.4